.container {
  display: flex;
  width: 100%;
  background-color: #122279;
  height: 100%;
  padding: 1.6em 4em;
  font-size: 10px;
}
.search__input {
  flex: 80%;
}
.search__input input {
  border-radius: 10px;
  border: 2px solid #ffcc00;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 2.4em;
  letter-spacing: 1px;
}
.search__input input:focus {
  outline: none;
}
.search__btn {
  flex: 20%;
}

.search__btn button {
  letter-spacing: 1px;
  background-color: #ffcc00;
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 100%;
  color: black;
  font-weight: 700;
  margin-left: 20px;
  padding: 10px 0;
  font-size: 2.5em;
}
.search__btn button:hover {
  background-color: #a90000;
  color: white;
}

@media screen and (max-width: 1400px) {
  .container {
    font-size: 7px;
  }
  .search__btn button {
    margin-left: 6px;
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    font-size: 5px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    font-size: 5px;
    padding: 1.6em 2em;
    margin-bottom: 20px;
  }
  .search__btn {
    flex: 30%;
  }
  .search__input {
    flex: 70%;
  }
  .search__btn button {
    font-size: 2.6em;
  }
  .search__input input {
    padding: 0 13px;
    font-size: 2.6em;
  }
}
